* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Encode Sans Expanded", sans-serif;
}

#links {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

#links:hover {
    color: #FBDD49;
    transform: 0.3s ease-out;
}
